<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Настройки профиля
    </div>
    <div *ngIf="data.user == null" class="card-body">
      Загрузка...
    </div>
    <div *ngIf="data.user !== null" class="card-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input [(ngModel)]="firstName" type="text" class="form-control" placeholder="Имя"  name="name" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Фамилия"  name="name" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input [(ngModel)]="fatherName" type="text" class="form-control" placeholder="Отчество"  name="name" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" name="email" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">+7</span>
        </div>
        <input type="text" [(ngModel)]="phone" mask="0000000000" class="form-control" placeholder="Телефон" name="phone" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-home"></i></span>
        </div>
        <select class="form-control" name="city" [(ngModel)]="universityId">
          <option  *ngFor="let university of data.universities" [value]="university.id">
            {{university.name}}
          </option>
        </select>
      </div>
      <div *ngIf="!allCorrect"
           class="alert alert-danger">
        <div *ngIf="!isNameCorrect">
          Имя введено неверно!
        </div>
        <div *ngIf="!isEmailValid">
          E-mail введен неверно!
        </div>
        <div *ngIf="!isPhoneCorrect">
          Телефон введен неверно!
        </div>
        <div *ngIf="!isUniversityCorrect">
          Университет не выбран!
        </div>
      </div>
      <button class="btn btn-primary" (click)="update()">Сохранить</button>
    </div>
  </div>

</div>
