<div class="app-body">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Загрузка...</p>
  </ngx-spinner>
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Регистрация</h1>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="first_name" type="text" class="form-control" placeholder="Имя"  name="name" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="father_name" type="text" class="form-control" placeholder="Отчество"  name="name" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="last_name" type="text" class="form-control" placeholder="Фамилия"  name="name" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" name="email" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">+7</span>
                  </div>
                  <input type="text" [(ngModel)]="phone" mask="0000000000" class="form-control" placeholder="Телефон" name="phone" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-home"></i></span>
                  </div>
                  <select class="form-control" name="city" [(ngModel)]="university_id">
                    <option  *ngFor="let university of data.universities" [value]="university.id">
                      {{university.name}}
                    </option>
                    <option value="0" disabled selected>Выберите университет</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" [(ngModel)]="password" class="form-control" placeholder="Пароль" name="password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password"  [(ngModel)]="repeat_password" class="form-control" placeholder="Повторите пароль" name="repeat_password" required>
                </div>
                <div *ngIf="!allCorrect"
                     class="alert alert-danger">

                  <div *ngIf="!isNameCorrect">
                    Имя введено неверно!
                  </div>
                  <div *ngIf="!isEmailValid">
                    E-mail введен неверно!
                  </div>
                  <div *ngIf="!isPhoneCorrect">
                    Телефон введен неверно!
                  </div>
                  <div *ngIf="!isUniversityCorrect">
                    Университет не выбран!
                  </div>
                  <div *ngIf="!isPasswordMatch">
                    Пароли не совпадают!
                  </div>

                </div>
                <button type="button" class="btn btn-block btn-success" (click)="register()">Зарегистрироваться</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
