<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Информация
    </div>

    <div *ngIf="data.user == null" class="card-body">
      Загрузка...
    </div>

    <div *ngIf="data.user !== null" class="card-body">
          Имя: {{ data.user.first_name }} <br/>
          Фамилия: {{ data.user.last_name }} <br/>
          Отчество: {{ data.user.father_name }} <br/>
          ВУЗ: {{ data.user.university.name }} <br/>
          E-mail: {{ data.user.email }} <br/>
          Телефон: +7{{ data.user.phone }}
    </div>
  </div>

</div>
