<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Добавить курс
    </div>
    <div *ngIf="coursesResult !== null" class="card-body">
      <div class="form-group">
        <label>Курс</label>
        <select class="form-control" name="city" (change)="selectNewCourse()" [(ngModel)]="courseId">
          <option *ngFor="let course of coursesResult.data.courses" [value]="course.id" selected="selected">
            {{course.name}} - {{course.company.name}}
          </option>
        </select>
      </div>
      <div *ngIf="selectedCourse !== null">
      <div>
        Логотип:<br/>
          <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + selectedCourse.logo" height="100px" />
      </div>
        <div>
          Изображение:<br/>
          <div class="scrolling-wrapper-flexbox" style="padding-top: 10px;">
            <label *ngFor="let picture of pictures.data.pictures" class="radio-inline" style="padding-left: 20px;">
              <input type="radio" [value]="picture.id" class="image-selector" [(ngModel)]="pictureId" checked>
              <img [class.selected-cover]="picture.id === pictureId" height="100px" [src]="'http://it-univer43.catkov.beget.tech/uploads/' + picture.link">
            </label>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          <div class="form-group">
          <label>Дата начала</label>
          <input class="form-control" type="text" mask='00.00.0000' [dropSpecialCharacters]="false" [(ngModel)]="startDate" placeholder="дд.мм.гггг">
        </div>
          </div>
          <div class="col-md-4">
          <div class="form-group">
            <label>Дата окончания</label>
            <input class="form-control" type="text" mask='00.00.0000' [dropSpecialCharacters]="false" [(ngModel)]="endDate" placeholder="дд.мм.гггг">
          </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Дата окончания подачи заявок</label>
              <input class="form-control" type="text" mask='00.00.0000' [dropSpecialCharacters]="false" [(ngModel)]="endApplyDate" placeholder="дд.мм.гггг">
            </div>
          </div>
        </div>


      <div class="form-group">
        <label>Расписание курса</label>
        <textarea class="form-control" rows="5" [(ngModel)]="schedule"></textarea>
      </div>
      <div class="form-group">
          <label>Место проведения</label>
          <input class="form-control" type="text" [(ngModel)]="place">
      </div>
      <div class="form-group">
        <label>Описание курса:</label><br/>
        {{ selectedCourse.description }}
      </div>
      <div class="form-group">
        <label>ФИО лектора: </label><br/>
       <b>{{ selectedCourse.lecturer_name }}</b>
      </div>
      <div>
        Фото лектора<br/>
        <div class="imgmain">
          <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + selectedCourse.lecturer_photo" />
        </div>
      </div>
      <hr/>
        <div *ngIf="!allCorrect"
             class="alert alert-danger">
          <div *ngIf="!isImageCorrect">
            Изображение не выбрано
          </div>
          <div *ngIf="!isEndDateCorrect">
            Дата окончания введена неверно!
          </div>
          <div *ngIf="!isPlaceCorrect">
           Место проведения не введено!
          </div>
          <div *ngIf="!isStartDateCorrect">
            Дата начала введена неверно!
          </div>
          <div *ngIf="!isApplyEndDateCorrect">
            Дата окончания приема заявок введена неверно!
          </div>
          <div *ngIf="!isScheduleCorrect">
            Расписание не заполнено!
          </div>
        </div>
      <button class="btn btn-primary" (click)="addCourse()">Сохранить</button>
      </div>
    </div>
  </div>

</div>
