<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Редактировать курс <span *ngIf="course !== null && !isApproved" class="badge badge-danger">Не подтвержден</span>
      <span *ngIf="course !== null && isApproved" class="badge badge-success">Подтвержден</span>
    </div>
    <div *ngIf="course == null" class="card-body">
      Загрузка...
    </div>
    <div *ngIf="course !== null" class="card-body">
      <div>
        Логотип:<br/>
        <div class="img">
          <div class="img__overlay">
            <label>
              <img class="avacamera" src="assets/img/camera.png">
              <input type="file" (change)="logoChange($event); isAnyChanges = true;" style="display: none;" accept=".png,.jpg,.jpeg">
            </label>
          </div>
          <img [src]="logo" />
        </div>
      </div>
      <div class="form-group">
        <label>Название курса</label>
        <input type="text" [(ngModel)]="name" (input)="isAnyChanges = true;" class="form-control">
      </div>
      <div class="form-group">
        <label>Описание курса</label>
        <textarea class="form-control" (input)="isAnyChanges = true;"  rows="5" [(ngModel)]="description"></textarea>
      </div>
      <div style="padding-bottom: 15px;">
        <label>Программа курса</label><br/>
        <div *ngIf="checkWeeks() || !isTopicValid" class="alert alert-danger">
          <div *ngIf="checkWeeks()">Не все названия тем заполнены</div>
          <div *ngIf="!isTopicValid">Не все названия подтем заполнены</div>
        </div>

        <div *ngFor="let week of weeks">
          <div *ngIf="!week.deleted">
            <div class="input-group mb-3" style="width: 50%">
              <input type="text" class="form-control" placeholder="Введите название темы" [(ngModel)]="week.name" (input)="isAnyChanges = true;" [autofocus]="true">
              <div class="input-group-append">
                <button class="btn btn-danger" type="button" (click)="week.deleted = true; isAnyChanges = true;"><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <div style="width: 50%; padding-left: 30px; padding-bottom: 15px;">
              <div *ngFor="let topic of week.topics">
                <div *ngIf="!topic.deleted" class="input-group mb-3">
                  <input type="text" class="form-control" (input)="checkTopics(week.topics); isAnyChanges = true;" placeholder="Введите название подтемы" [(ngModel)]="topic.name" [autofocus]="true">
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="topic.deleted = true; isAnyChanges = true;"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
              </div>
              <button class="btn btn-success" type="button" (click)="addTopic(week); checkTopics(week.topics); isAnyChanges = true;" [disabled]="checkTopics(week.topics)">Добавить подтему</button>
            </div>
          </div>
        </div>
        <button class="btn btn-success" type="button" (click)="addWeek(); isAnyChanges = true;" [disabled]="checkWeeks()">Добавить тему</button>
      </div>
      <div style="padding-bottom: 15px;">
        <label>Требования к слушателям</label><br/>
        <div *ngIf="checkReqs()" class="alert alert-danger">
          Не все названия требований заполнены
        </div>

        <div *ngFor="let req of requirements">
          <div *ngIf="!req.deleted">
            <div class="input-group mb-3" style="width: 50%">
              <input type="text" class="form-control" placeholder="Введите название требования" [(ngModel)]="req.name" [autofocus]="true">
              <div class="input-group-append">
                <button class="btn btn-danger" type="button" (click)="req.deleted = true; isAnyChanges = true;"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-success" type="button" (click)="addReq(); isAnyChanges = true" [disabled]="checkReqs()">Добавить требование</button>
      </div>
      <div class="row">
        <div class="col-md-6">
      <div class="form-group">
        <label>Университет</label>
        <select class="form-control" name="city" [(ngModel)]="university_id" (change)="isAnyChanges = true;">
          <option  *ngFor="let university of data.universities" [value]="university.id" selected="selected">
            {{university.name}}
          </option>
        </select>
      </div>
        </div>
        <div class="col-md-6">
      <div class="form-group">
        <label>Объем курса в часах</label>
        <input class="form-control" type="number" value="1"  [(ngModel)]="volume"  (input)="isAnyChanges = true;">
      </div>
        </div>
      </div>
      <div class="form-group">
        <label>Имя лектора</label>
        <input type="text" [(ngModel)]="lecturerName" class="form-control" (input)="isAnyChanges = true;">
      </div>
      <div class="form-group">
        <label>О лекторе</label>
        <textarea class="form-control" rows="5" [(ngModel)]="lecturerAbout" (input)="isAnyChanges = true;"></textarea>
      </div>

      <div>
        Фото лектора:<br/>
        <div class="img">
          <div class="img__overlay">
            <label>
              <img class="avacamera" src="assets/img/camera.png">
              <input type="file" (change)="photoChange($event); isAnyChanges = true;" style="display: none;" accept=".png,.jpg,.jpeg">
            </label>
          </div>
          <img [src]="lecturerPhoto" />
        </div>
      </div>

      <hr/>
      <div *ngIf="!allCorrect"
           class="alert alert-danger">
        <div *ngIf="!isLecturerNameCorrect">
          Имя лектора не заполнено!
        </div>
        <div *ngIf="!isUniversityCorrect">
          Университет не выбран!
        </div>
        <div *ngIf="!isDescriptionCorrect">
          Описание курса не заполнено!
        </div>
        <div *ngIf="!isNameCorrect">
          Название курса не заполнено!
        </div>
        <div *ngIf="!isLecturerAboutCorrect">
          Информация о лекторе не заполнена!
        </div>
      </div>
      <button class="btn btn-primary" *ngIf="isAnyChanges" (click)="updateCourse()">Сохранить</button> <button *ngIf="isAnyChanges" class="btn btn-warning" style="margin-left: 3px;" routerLink="/courses/catalog">Отмена</button> <button *ngIf="!isApproved" class="btn btn-success" style="margin-left: 3px;" (click)="approveCourse()">Подтвердить</button><br/>
    </div>
  </div>

</div>
