<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Редактировать курс
    </div>
    <div *ngIf="course == null" class="card-body">
      Загрузка...
    </div>
    <div *ngIf="course !== null" class="card-body">
      Название курса: <b>{{ courseName }}</b><br/>
      <div *ngIf="pictures">
        Изображение:<br/>
        <div class="scrolling-wrapper-flexbox">
          <label *ngFor="let picture of pictures.data.pictures" class="radio-inline"><input type="radio" [value]="picture.id" [(ngModel)]="pictureId" checked>
            <img height="100px" [src]="'http://it-univer43.catkov.beget.tech/uploads/' + picture.link">
          </label>

        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        <div class="form-group">
          <label>Дата начала</label>
          <input class="form-control" type="text" mask='00.00.0000' [dropSpecialCharacters]="false" [(ngModel)]="startDate" placeholder="дд.мм.гггг">
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group">
          <label>Дата окончания</label>
          <input class="form-control" type="text" mask='00.00.0000' [dropSpecialCharacters]="false" [(ngModel)]="endDate" placeholder="дд.мм.гггг">
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group">
          <label>Дата окончания подачи заявок</label>
          <input class="form-control" type="text" mask='00.00.0000' [dropSpecialCharacters]="false" [(ngModel)]="endApplyDate" placeholder="дд.мм.гггг">
        </div>
        </div>
      </div>
      <div class="form-group">
        <label>Расписание курса</label>
        <textarea class="form-control" rows="5" [(ngModel)]="schedule"></textarea>
      </div>
      <div class="form-group">
        <label>Место проведения</label>
        <input class="form-control" type="text" [(ngModel)]="place">
      </div>
      <hr/>
      <div *ngIf="!allCorrect"
           class="alert alert-danger">
        <div *ngIf="!isImageCorrect">
          Изображение не выбрано
        </div>
        <div *ngIf="!isEndDateCorrect">
          Дата окончания введена неверно!
        </div>
        <div *ngIf="!isStartDateCorrect">
          Дата начала введена неверно!
        </div>
        <div *ngIf="!isPlaceCorrect">
          Место проведения не введено!
        </div>
        <div *ngIf="!isApplyEndDateCorrect">
          Дата окончания приема заявок введена неверно!
        </div>
        <div *ngIf="!isScheduleCorrect">
          Расписание не заполнено!
        </div>
      </div>
      <button class="btn btn-primary" (click)="updateCourse()">Сохранить</button>
    </div>
  </div>

</div>
