<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Добавить изображение
    </div>
    <div class="card-body">
        Логотип:<br/>
        <div class="img">
          <div class="img__overlay">
            <label>
              <img class="avacamera" src="assets/img/camera.png">
              <input type="file" (change)="pictureChange($event);" style="display: none;" accept=".png,.jpg,.jpeg">
            </label>
          </div>
          <img [src]="link" />
        </div>
      <div class="form-group">
        <label>Имя</label>
        <input type="text" [(ngModel)]="name" class="form-control">
      </div>
      <button class="btn btn-primary" (click)="addPicture()">Добавить</button>
      </div>
  </div>
</div>
