<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Список курсов
    </div>
    <div class="card-body">
      <div *ngIf="courseInstances == null">
        Загрузка...
      </div>

      <div *ngIf="courseInstances !== null" class="card" style="width: 100%;">
        <div style="padding-left: 10px; padding-top: 10px;">
          <div class="form-check" style="display: inline-block;">
            <input class="form-check-input" type="checkbox" [(ngModel)]="isCurrentFilter" (change)="filterInstances()" id="isCurrentCheck">
            <label class="form-check-label" for="isCurrentCheck">
              Текущие
            </label>
          </div>
          <div class="form-group" style="display: inline-block; padding-left: 20px;">
            <label>Компания</label>
            <select class="form-control" name="city" (change)="filterInstances()" [(ngModel)]="companyId">
              <option *ngFor="let company of allCompanies.data.companies" [value]="company.id">
                {{company.name}}
              </option>
              <option [value]="0" selected="selected">
                Все
              </option>
            </select>
          </div>
          <div class="form-group" style="display: inline-block; padding-left: 20px;">
            <label>Название</label>
            <select class="form-control" name="city" (change)="filterInstances()" [(ngModel)]="courseId">
              <option *ngFor="let course of allCourses.data.courses" [value]="course.id">
                {{course.name}} - {{course.company.name}}
              </option>
              <option [value]="0" selected="selected">
                Все
              </option>
            </select>
          </div>
          <div class="form-group" style="display: inline-block; padding-left: 20px;">
            <label>От</label>
            <input class="form-control" type="text" mask='00.00.0000' [dropSpecialCharacters]="false" (input)="filterInstances()" [(ngModel)]="startDate" placeholder="дд.мм.гггг">
          </div>
          <div class="form-group" style="display: inline-block; padding-left: 20px;">
            <label>До</label>
            <input class="form-control" type="text" mask='00.00.0000' [dropSpecialCharacters]="false" (input)="filterInstances()" [(ngModel)]="endDate" placeholder="дд.мм.гггг">
          </div>

        </div>

      </div>

      <ul *ngIf="courseInstances !== null" class="list-group">
        <li *ngFor="let instance of showedInstances" class="list-group-item">
          <div class="row">
            <div class="col-md-1">
              <div style="display: inline-block; vertical-align:top;">
                <div>
                  <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + instance.course.company.avatar" width="100px" />
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div style="display: inline-block; padding-left: 20px">
                Название: <b> {{ instance.course.name }}</b><br/>
                Описание: {{ instance.course.description }} <br/>
                Компания: {{ instance.course.company.name }} <br/>
                Расписание: <br/> {{ instance.schedule }} <br/>
                <div *ngIf="instance.place !== null">Место проведения: <br/> {{ instance.place }} <br/></div>
                Дата начала: {{ instance.start_date | date: 'dd.MM.yyyy' }} <br/>
                Дата окончания: {{ instance.end_date | date: 'dd.MM.yyyy' }} <br/>
                Дата окончания подачи заявок: {{ instance.apply_end_date | date: 'dd.MM.yyyy' }} <br/>
                Имя лектора: {{ instance.course.lecturer_name }}
              </div>
            </div>
            <div class="col-md-2">
              <div style="display: inline-block; float: right">
                <button class="btn btn-primary" [routerLink]="['/courses/edit', instance.id]">Редактировать</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
