<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Галерея
    </div>
    <div class="card-body">
      <div *ngIf="pictures == null">
        Загрузка...
      </div>
      <ul *ngIf="pictures !== null" class="list-group">
        <li *ngFor="let picture of pictures.data.pictures" class="list-group-item">
          <div class="row">
            <div class="col-md-1">
              <div style="display: inline-block; vertical-align:top;">
                <div>
                  <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + picture.link" width="100px" />
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div style="display: inline-block; padding-left: 20px">
                <b> {{ picture.name }}</b><br/>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
